<p class="selected-date">{{ selectedDate().toDateString() }}</p>
<div class="container">
  <div class="hours-container">
    @for (hour of hours; track hour) {
      <p class="hour-label">{{ hour | amPm }}</p>
    }
  </div>

  <div cdkDropListGroup class="hour-rows-container">
    <div class="separator"></div>

    @for (hour of hours; track hour) {
      <div
        cdkDropList
        class="hour-row"
        (cdkDropListDropped)="drop($event, hour)"
      >
        @for (appointment of appointments(); track appointment.id) {
          @if (appointment.start === hour) {
            <app-appointment
              cdkDrag
              [id]="'appointment-' + appointment.id"
              [appointment]="appointment"
            >
            </app-appointment>
          }
        }
      </div>
    }
  </div>
</div>
