<p class="selected-date">{{ selectedDate().toDateString() }}</p>
<div class="container">
  <div class="hours-container">
    @for (hour of hours; track hour) {
      <p class="hour-label">{{ hour }}</p>
    }
  </div>

  <div
    cdkDropList
    class="appointments-container"
    (cdkDropListDropped)="drop($event)"
  >
    @for (hour of hours; track hour) {
      <div cdkDrag class="appointment-container">
        @if (appointments().length > 0) {
          @for (appointment of appointments(); track $index) {
            @if (appointment.hour === hour) {
              <div class="appointment">
                <p>{{ appointment.name }}</p>
                <button (click)="deleteAppointment(appointment)">X</button>
              </div>
            }
          }
        }
      </div>
    }
  </div>
</div>
