<div class="calendar-container">
  <div class="calendar-view">
    @defer (on viewport) {
      <app-create-appointment
        [selectedDate]="selected()"
      ></app-create-appointment>
    } @placeholder {
      <p>Create appointment form is loading...</p>
    }

    <mat-card class="calendar-card">
      <mat-calendar [(selected)]="selected"></mat-calendar>
    </mat-card>
  </div>

  <div class="appointments">
    @defer (on viewport) {
      <app-appointments [selectedDate]="selected()"></app-appointments>
    } @placeholder {
      <p>Appointments are loading...</p>
    }
  </div>
</div>
